header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: auto;
    margin: 0 12%;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    color: peru;
    text-decoration: underline;
}

#banner{
    width: 100%;
}
.principal{
    background: #CCCCCC;
    height: 100px;
    padding: 30px
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
    background: #CCCCCC;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.beneficios {
    background-color: #FFFFFF;
    padding: 20px;
}

.benefits-list {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.img-beneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("../images/bg.jpg");
    padding: 40px 0;
}
.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
