
body {
    width: 100vw;
}

#about {
    padding: 1.5rem 0;
}

#about > div > h2, p {
    color: white;
    text-align: center;
    opacity: 0.75;
}

#about > div > p {  
    font-family: lato;
    font-size: 1.5rem;
    font-weight: 0;
    line-height: 1em;
    
}

.img-beneficios {
    width: 100%;
}

.itens {
    font-family: lato;
    font-size: 1.5em;
    font-weight: 400;
    margin: .2rem 0;
    opacity: 0.75;
}