#banner{
    width: 100%;
}
.principal{
    background: #CCCCCC;
    height: 120px;
    padding: 15px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.beneficios {
    background-color: #FFFFFF;
    padding: 20px;
}

.benefits-list {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    margin-left: 14%;
    padding-top: 10%;
}

.itens {
    font-style: italic;
    font-size: 25px;
}

.img-beneficios {
    width: 50%;
}