
#banner{
    width: 100%;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.principal{
    background: #CCCCCC;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
    background: #CCCCCC;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.beneficios {
    background-color: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.img-beneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("../images/bg.jpg");
    padding: 40px 0;
}
.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
