body {
    width: 100vw;
}

.nav-item {
    text-transform: uppercase;
    color: #000000;
    font-family: lato;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    margin: 1rem;
}

/* estilo da pagina "index" */

#about {
    padding: 1.5rem 0;
}

#about > div > h2 {
    color: white;
    text-align: center;
    opacity: 0.75;
}

#about > div > p {  
    color: white;
    text-align: center;
    opacity: 0.75;
    font-family: lato;
    font-size: 1.5rem;
    font-weight: 0;
    line-height: 1em;
    
}

.img-beneficios {
    width: 100%;
}

.itens {
    font-family: lato;
    font-size: 1.5em;
    font-weight: 400;
    margin: .2rem 0;
    opacity: 0.75;
}

/* Estilo da página "Produtos" */

li {
    list-style-type: none;
}

.product-card {
    border: 2px solid black;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 5px 5px 10px black;
}

.product-card:hover {
    box-shadow: 7px 7px 15px black;
}

.product-card:hover .product-price {
    font-weight: 550;
}

/* Estilo da pagina "Contato" */

#formularios {
    width: 940px;
    margin: 0 auto;
}

form {
   margin: 40px 0;
}

form label {
   display: block;
   font-size: 20px;
   margin: 0 0 10px;
}

form input {
   display: block;
   margin: 0 0 20px;
}
