/* Estilo da página "Produtos" */


body {
    width: 100vw;
}

.nav-item {
    text-transform: uppercase;
    color: #000000;
    font-family: lato;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    margin: 1rem;
}

li {
    list-style-type: none;
}

.product-section {
    /* margin: "200px"; */
}

.product-card {
    border: 2px solid black;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 5px 5px 10px black;
}

.product-card:hover {
    box-shadow: 7px 7px 15px black;
}

.product-card:hover .product-price {
    font-weight: 500;
}

/* Estilo da pagina "Contato" */




