body {
    width: 100vw;
}

.nav-item {
    text-transform: uppercase;
    color: #000000;
    font-family: lato;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    margin: 1rem;
}

/* estilo da pagina "index" */

#about {
    padding: 1.5rem 0;
}

#about > div > h2 {
    color: white;
    text-align: center;
    opacity: 0.75;
}

#about > div > p {  
    color: white;
    text-align: center;
    opacity: 0.75;
    font-family: lato;
    font-size: 1.5rem;
    font-weight: 0;
    line-height: 1em;    
}

.img-beneficios {
    width: 100%;
}

.itens {
    font-family: lato;
    font-size: 1.5em;
    font-weight: 400;
    margin: .2rem 0;
    opacity: 0.75;
}

/* Estilo da página "Produtos" */

li {
    list-style-type: none;
}

.product-card {
    border: 2px solid black;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 5px 5px 10px black;
}

.product-card:hover {
    box-shadow: 7px 7px 15px black;
}


.product-card:hover .product-price {
    font-weight: 550;
}

/* Estilo da pagina "Contato" */

.formularios {
    width: 80%;
    margin: 5rem auto;
}

.formularios p{
    display: block;
    font-family: lato;
    font-size: 1.5em;
    font-weight: 400;
}

.standard-input {
   display: block;
   margin: 0 0 1em 0;
   padding: .5em .8em;
}

.radio-input{
    margin-right: 1em;
}

.form-style {
    display: block;
    font-family: lato;
    font-size: 1.25rem;
    font-weight: 400;
}

.checkbox {
    margin: 20px 0;
}

.button {
    margin-top: 2em;
    width: 25%;
    padding: 0 1em;
    background: darkorange;
    color: black;
    font-family: lato;
    font-size: 1.25rem;
    font-weight: 400;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    transition: background 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.button:hover {
    background: orange;
    box-shadow: 0px 0px 15px black;
    transform: scale(1.1);
}

.tabela {
    display: block;
    width: 80%;
    margin: 2rem auto;    
    margin-bottom: 5rem;
    font-family: lato;
    font-size: 1.25rem;
    font-weight: 400;
}

thead {
    background: #BBBBBB;
}

th, td {
    width: 10em;
    border: 1px solid black;
    padding: .7em 1em;
}